.doableOperation {
    background-color: #22bb11;
    border: 1px #007700 solid;
    text-align: center;
    padding: 1px;
}

.disabledOperation {
    background-color: #bb2211;
    border: 1px #770000 solid;
    text-align: center;
    padding: 1px;
}