#icon-bunny {
    background: url(images/td-bunnyicon.jpg) no-repeat;
    background-size: 100% 100%;
}

#icon-chihuahua {
    background: url(images/td-chihuahuaicon.jpg) no-repeat;
    background-size: 100% 100%;
}